---
layout: base.liquid
---

<article>{{ content }}</article>

<section class="link__grid">
  {% for page in pages.random %}
  <a href="{{ page.route }}" class="link__link">
    <div class="link__card">
      <h2 class="link__title">{{ page.title }}</h2>
      <div class="link__cta-wrapper">
        <p class="link__cta">Read more</p>
      </div>
    </div>
  </a>
  {% endfor %}
</section>
