/* resets/normalizations */
html,
body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  scroll-behavior: smooth;
  font-family: Lato;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 400;
}

* {
  font-size: 1em;
}

body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

pre {
  font-family: Lato;
  font-size: 1.1em;
}

p code {
  font-size: 1.1em;
}

summary {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

/* base styles */

:root {
  --color-bg: #ffffff;
  --color-fg: #2d2d2d;
  --color-code-bg: #f3f3f3;
  --color-brand: #e44d90;
  --color-brand-fade: #fbe7ef;
  --space-gutter: 24px;
  --space-padding-codeblock: 1em;
  --space-padding-main: 36px;
  --size-page-width: 1000px;
  --width-scrollbar: 5px;
  --table-padding-vertical: 8px;
  --table-padding-horizontal: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #2d2d2d;
    --color-fg: #ffffff;
    --color-code-bg: #222222;
    --color-table-bg: #222222;
    --color-brand: #f7c9dd;
    --color-brand-fade: #351b27;
  }
}

body {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

a:hover,
a:focus,
summary:hover,
summary:focus {
  color: var(--color-brand);
}

pre {
  padding: var(--space-padding-codeblock);
  background-color: var(--color-code-bg);
}

h1 {
  font-weight: 400;
  font-size: 1.3em;
}

h2 {
  font-weight: 400;
  font-size: 1.1em;
}

h3 {
  font-size: 1em;
  text-decoration-color: var(--color-brand);
}

p a,
li a {
  color: var(--color-brand);
}

/* page styles */

.page {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 24px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer.nav {
  margin-top: 24px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  max-width: 98vw;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 6px;
}

.nav__title {
  font-weight: 400;
  font-size: 1.5em;
}

.nav__subtitle {
  margin-top: 8px;
}

.nav__item {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  list-style: none;
  padding: 4px 8px;
  white-space: nowrap;
}

.nav__icon {
  display: block;
  height: 20px;
  width: 20px;
}

.link__card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--color-code-bg);
  border-radius: 4px;
  height: 100%;
}

.link__link {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
}

.link__link:hover,
.link__link:focus {
  transform: scale(1.02);
}

.link__grid {
  display: grid;
  margin-top: 48px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 12px 12px;
}

.education__grid {
  margin-top: 48px;
  display: flex;
  flex: 1;
  gap: 12px;
  flex-direction: column;
}

.education__item {
  flex: 1;
}

.link__image--horizontal {
  aspect-ratio: 3/2;
}

.link__title {
  margin: 0;
}

.link__subtitle {
  font-weight: 400;
  margin: 0;
  margin-top: 12px;
}

.link__description {
  margin: 0;
  margin-top: 24px;
}

.link__description--no-margin {
  margin: 0;
}

.link__tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 12px;
}

.link__tag {
  list-style-position: inside;
  list-style-type: none;
  margin-right: 12px;
  color: var(--color-brand);
}

.link__tag:before {
  content: '#';
}

.link__cta-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.link__cta {
  font-weight: 400;
  margin-bottom: 0;
}

.hidden-mobile {
  display: none;
}

@media (min-width: 800px) {
  .link__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .education__grid {
    flex-direction: row;
  }

  .hidden-mobile {
    display: unset;
  }
}

.title__text {
  background: var(--color-bg);
  padding: 0 15px;
}

.title__wrapper {
  position: relative;
  text-align: center;
  margin-top: 48px;
}

.title__wrapper:before {
  border-top: 1px solid var(--color-brand);
  content: '';
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

/* markdown styles */
.page {
  overflow-x: hidden;
  overflow-wrap: break-word;
}

img {
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

code,
.nb-text-output,
.nb-stdout {
  font-weight: 100;
  overflow-wrap: break-word;
  /* white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word; */
}

pre {
  overflow-x: auto;
}

.scrollable {
  overflow-x: auto;
}

table {
  margin: 0px 15px 15px 0px;
  border-spacing: 10px 5px;
  border-collapse: collapse;
  width: 100%;
}

table,
tbody,
thead,
th,
td,
tr {
  border: none;
}

thead tr {
  background-color: var(--color-brand);
  color: var(--color-bg);
}

tbody tr:nth-of-type(odd) {
  background-color: var(--color-table-bg);
}

th {
  text-align: left;
  padding: 12px 20px;
  white-space: nowrap;
}

td,
th {
  vertical-align: middle;
  padding: var(--table-padding-vertical) var(--table-padding-horizontal);
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: var(--text-spacing);
  border-left: 2px solid var(--color-primary);
}

/* jupyter styling */

.nb-output {
  overflow-x: auto;
  margin: 0;
}

.nb-image-output {
  background-color: white;
  width: 100%;
  max-width: 500px;
}

@media (prefers-color-scheme: dark) {
  .nb-image-output {
    filter: invert(0.825);
  }
}

.katex-display {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.hljs {
  padding: 0;
  background: transparent;
}

blockquote {
  border-left: 2px solid var(--color-brand);
  background-color: var(--color-code-bg);
}

blockquote p {
  padding: 12px 24px;
}

/* mermaid */

/* center mermaid diagrams */
code.mermaid[data-processed='true'] {
  display: flex;
  justify-content: center;
}

.kbar__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  background-color: var(--color-bg);
  width: 720px;
  max-width: 80vw;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.kbar__search {
  color: var(--color-fg);
  background-color: var(--color-bg);
  padding: 16px 20px;
  border-color: transparent;
  border-width: 0px;
  border-bottom-width: 2px;
  border-style: solid;
  outline: none;
}

.kbar__search:focus {
  border-color: var(--color-brand);
}

.kbar__section {
  padding: 12px 16px;
}

.kbar__result {
  border: none;
  padding: 12px 20px;
}

.kbar__result--active {
  background-color: var(--color-brand-fade);
}

.kbar__result__title {
  margin: 0;
}

.kbar__result__subtitle {
  margin: 0;
  margin-top: 4px;
}

.button {
  /* remove base button styles */
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  /* reset text to match links */
  cursor: pointer;
  font-weight: 300;
  font-size: 1em;
  font-family: Lato;
  color: var(--color-brand);
}

.contact {
  margin-bottom: 4px;
}

.contact p {
  margin: 0;
  margin-bottom: 4px;
}

/* print settings */
.print {
  display: none;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .page {
    padding: 24px;
  }

  p,
  a {
    font-size: 12px;
  }

  .nav__title a {
    font-size: 16px;
  }

  h2,
  h3,
  h4,
  .nav__subtitle {
    font-size: 14px;
  }

  .no-print {
    display: none;
  }

  .print {
    display: unset;
  }

  .nav__icon {
    height: 14px;
    width: 14px;
  }

  .link__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    margin-top: 12px;
  }

  .link__subtitle {
    margin-top: 8px;
  }

  .link__description {
    margin-top: 8px;
  }

  .title__wrapper {
    margin-top: 12px;
  }

  .education__grid {
    margin-top: 12px;
    flex-direction: row;
  }
}
