@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;600&family=Red+Hat+Text:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@font-face {
  font-family: Monogram;
  src: url(../fonts/bd-renaissance/BDRENAIS.TTF);
}

/* resets/normalizations */
html,
body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  scroll-behavior: smooth;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 400;
}

/* * {
  font-size: 1em;
} */

body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

pre {
  font-family: Lato;
  font-size: 1.1em;
}

p code {
  font-size: 1.1em;
}

summary {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

/* base styles */

:root {
  --color-brand: #e44d90;
  --color-on-brand: #ffffff;

  --color-base: #ffffff;
  --color-on-base: #2d2d2d;

  --font-display: 'Cinzel Decorative', serif;
  --font-body: 'Red Hat Text', sans-serif;
  --font-monogram: 'Monogram';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}
img {
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: underline transparent 2px;
  transition: text-decoration-color 300ms;
}
a .link:hover,
a.link:hover {
  text-decoration-color: var(--color-brand);
}
