@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;600&family=Courier+Prime:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@font-face {
  font-family: Monogram;
  src: url(../fonts/bd-renaissance/BDRENAIS.TTF);
}

/* resets/normalizations */
html,
body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  scroll-behavior: smooth;
  font-family: var(--font-body);
  background-color: var(--color-base);
  color: var(--color-on-base);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 400;
}

/* * {
  font-size: 1em;
} */

body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

pre {
  font-family: Lato;
  font-size: 1.1em;
}

p code {
  font-size: 1.1em;
}

summary {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

/* base styles */

:root {
  --color-brand: #e44d90;
  --color-on-brand: #ffffff;

  --color-base: #ffffff;
  --color-on-base: #2d2d2d;

  --font-display: 'Cinzel Decorative', serif;
  --font-body: 'Courier Prime', sans-serif;
  --font-monogram: 'Monogram';

  --separator-width: 2px;
  --separator-border: var(--separator-width) solid var(--color-on-base);

  --column-count: 1;
  --block-gap: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base: #2d2d2d;
    --color-on-base: #ffffff;
  }
}

img {
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: underline transparent 2px;
  transition: text-decoration-color 300ms;
}

a:hover .link,
a.link:hover {
  text-decoration-color: var(--color-brand);
}

@media (min-width: 500px) {
  :root {
    --column-count: 2;
  }
}

@media (min-width: 750px) {
  :root {
    --column-count: 2;
  }
}

@media (min-width: 1000px) {
  :root {
    --column-count: 3;
  }
}

@media (min-width: 1250px) {
  :root {
    --column-count: 4;
  }
}

@media (min-width: 1250px) {
  :root {
    --column-count: 5;
  }
}

@media (min-width: 1500px) {
  :root {
    --column-count: 6;
  }
}

@media (min-width: 1750px) {
  :root {
    --column-count: 7;
  }
}

@media (min-width: 2000px) {
  :root {
    --column-count: 8;
  }
}

pre.astro-code {
  padding: 8px 16px;
}
