<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style/main.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="page">
      <nav class="nav">
        <ul>
          <li><a href="/">Nabeel Valley</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="/blog">Blog</a></li>
          <li>
            <details>
              <summary>Photography</summary>
              <ul>
                <li><a href="/vibes">Vibes</a></li>
                <li><a href="/portraits">Portraits</a></li>
                <li><a href="/nature">Nature</a></li>
              </ul>
            </details>
          </li>
          <li>
            <details>
              <summary>Programming</summary>
              <ul>
                <li><a href="/docs">Docs</a></li>
                <li><a href="/stdout">stdout</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </nav>
      <main class="main">
        {{ content }}
      </main>
    </div>
  </body>
</html>
