<nav class="Navbar">
  <div class="logo">
    <a
      aria-current="page"
      class="active"
      style="visibility: hidden; width: 0; height: 0"
      href="/"
      >Nabeel Valley</a
    >
  </div>
  <ul class="linkGroup">
    <li class="link">
      <a aria-current="page" class="active" href="/">Home</a>
    </li>
    <li class="link"><a href="/blog">Blog</a></li>
    <li class="link"><a href="/stdout">Stdout</a></li>
    <li class="link"><a href="/docs">Docs</a></li>
    <li class="link"><a href="/code">Code</a></li>
    <li class="link"><a href="/about">About</a></li>
    <li class="link rss">
      <a href="/rss.xml">RSS<img class="icon" src="/icons/rss.svg" alt="" /></a>
    </li>
  </ul>
</nav>
