* {
  font-family: chillax;
}

body {
  position: relative;


  /*
Source - https://stackoverflow.com/a/55364176
Posted by Tim Klein, modified by community. See post 'Timeline' for change history
Retrieved 2026-07-04, License - CC BY-SA 4.0
*/

  background: var(--color-base);
  background-image: radial-gradient(color-mix(in srgb, var(--color-brand) 10%, transparent) 1px, transparent 0);
  background-size: 1rem 1rem;
  background-position: -10px -10px;
}



.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0;

  &>a {
    font-size: x-large;
    color: var(--color-brand);
  }

  a {
    display: block;
    text-decoration-color: transparent;

    &:hover {
      text-decoration-color: var(--color-brand);
    }
  }


  .site-nav {
    max-width: var(--reading-width);

    ul {
      /* unset the default ul styles */
      padding: 0;
      list-style: none;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      flex-wrap: wrap;
      width: fit-content;

      padding: .25rem 1rem;
      background-color: color-mix(in srgb, var(--color-brand) 5%, transparent);
      backdrop-filter: blur(2px);

      a {
        color: var(--color-brand);
      }
    }
  }
}



.site-article {
  max-width: var(--reading-width);
  margin: auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }

  a {
    color: var(--color-brand);
    text-decoration-color: transparent;

    &:hover {
      text-decoration-color: var(--color-brand);
    }
  }
}

.site-related {}

.site-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}