:root {
  color-scheme: light dark;

  --shade-brand-light: 179, 6, 83;
  --shade-brand-dark: 228, 77, 144;
  /* shade-brand is not defined in terms of light-dark due
    to how the comma-separated-values are interpreted as args */

  --color-brand: light-dark(rgb(var(--shade-brand-light)), rgb(var(--shade-brand-dark)));

  --color-on-brand: light-dark(#ffffff, #000000);

  --color-base: light-dark(#ffffff, #2d2d2d);
  --color-on-base: light-dark(#2d2d2d, #ffffff);

  --reading-width: min(800px, 90vw);
}