.greeting {
  display: inline-block;
  text-transform: lowercase;
  padding: 0.5rem 1rem;
  background-color: var(--color-brand-muted);
  color: var(--color-on-base);
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' style='font-size:24px;'><text y='50%'>🤚</text></svg>")
      16 0,
    auto;
}

.hand {
  --duration-s: calc(var(--duration, 1) * 1s);

  display: inline-block;
  animation-duration: var(--duration-s);
  animation-iteration-count: infinite;
  animation-name: hand-wave-multi;
  animation-play-state: paused;
  transform-origin: 50px 50px;
}

.greeting:hover .hand {
  animation-play-state: running;
}

@keyframes hand-wave-multi {
  0% {
    transform: rotate(0deg);
  }

  15% {
    scale: 150%;
    rotate: 0deg;
    translate: 0px -8px;
  }

  50% {
    scale: 150%;
    rotate: 30deg;
    translate: 0px -8px;
  }

  85% {
    scale: 150%;
    rotate: 0deg;
    translate: 0px -8px;
  }

  100% {
    rotate: 0deg;
  }
}
