.hide {
  display: var(--hide-display);
  visibility: var(--hide-visibility, hidden);
}

.show {
  display: var(--show-display);
  visibility: var(--show-visibility, visible);
}

.example {
  padding: 1rem;
  background-color: var(--color-on-base);
  color: var(--color-base);
}