{% title "About Me | Nabeel Valley" %}

<section class="link__grid">
  <div>
    <h2 class="link__title">Me</h2>
    <h3 class="link__subtitle">Pretoria, South Africa</h3>
    <p class="link__subtitle">'95</p>
  </div>
  <div>
    <p class="link__description link__description--no-margin">
      My name is Nabeel Valley, born in 1995 - Pretoria, South Africa
    </p>

    <p class="link__description">
      I'm passionate about solving challenging problems in beautiful ways
    </p>

    <p class="link__description">
      My daily-doings involve writing code, graphic and ui design, taking
      pictures, and a bit of reading
    </p>
  </div>
</section>

<section>
  {% title "Experience" %} {% for exp in experience %}
  <div class="link__grid">
    <div>
      <h2 class="link__title">{{ exp.company }}</h2>
      <h3 class="link__subtitle">{{ exp.subtitle }}</h3>
      <p class="link__subtitle">{{ exp.period }}</p>
    </div>
    {% assign ps = exp.description | newline_to_br | split: '<br />' %}
    <div>
      {% for p in ps %}
      <p class="link__description">
        {{ p }}
      </p>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}
