.example {
    background-color: lightblue;
}

.before, .after {
    padding: 10px;
    background-color: lightgrey;
}

.content {
    background-color: lightgrey;
    height: 50px;
}

.box {
    background-color: lightcoral;
    border: 1rem solid lightgreen;
    padding: 2rem;
    margin: 3rem;
}
