<div class="a">
  <div class="b">First child of A that is B</div>
  <div class="b">Other B Child</div>
  <div>
    <div class="b">Nested B Child</div>
  </div>
  <div class="b">Another B Child</div>
  <div class="c">Some other content in A</div>
</div>

<div class="b">B as a sibling of A</div>

<div class="b">Some other B sibling of A</div>
