<div class="overview">
  <h1>Syntax Overview</h1>

  <p>Some things you can see in this example:</p>

  <ol class="features">
    <li>CSS Rules</li>
    <li>CSS Declarations</li>
    <li class="classy">CSS Classes</li>
    <li>CSS Selectors</li>
    <li>CSS Psuedo-classes</li>
  </ol>

  <blockquote>Then - like just draw the rest of the owl</blockquote>
</div>
