h1 {
    color: lightblue;
    margin: 0;
}

.overview {
    padding: 1rem;
    transition: all 300ms;
    border: solid 4px transparent;
}

.classy {
    text-decoration: underline;
}

.overview:hover {
    border-color: lightblue;
}