<div class="example">
  <div class="before">before block</div>
  <div class="box"><div class="content">content</div></div>
  <div class="after">after block</div>
</div>

<style>
  .example {
    background-color: #f3cc9b;
  }

  .before,
  .after {
    padding: 10px;
    background-color: lightgrey;
  }

  .content {
    background-color: #a8c6e9;
    height: 50px;
  }

  .box {
    background-color: #c7dfb7;
    border: 1rem solid #fceeba;
    padding: 2rem;
    margin: 3rem;
  }
</style>
