<div class="example">
  <div class="spacer">spacer</div>
  <div class="block">block</div>
  <div class="block">block</div>
  <div class="spacer">spacer</div>
  <div class="inline">inline</div>
  <div class="inline">inline</div>
  <div class="spacer">spacer</div>
  <div class="inline-block">inline-block</div>
  <div class="inline-block">inline-block</div>
  <div class="spacer">spacer</div>
</div>
