<div class="overview">
  <h1>Syntax Overview</h1>

  <p>Some things you can see in this example:</p>

  <ol class="features">
    <li>Declarations</li>
    <li>Rules</li>
    <li>Resets/Normalizations</li>
    <li class="fancy">Class selectors</li>
    <li>Psuedo-class selectors</li>
  </ol>

  <blockquote>Then - like just draw the rest of the owl</blockquote>
</div>
