---
import { getCollection } from 'astro:content'
import LinkBlock from '../components/LinkBlock.astro'
import Title from '../components/Title.astro'
import Base from '../layouts/Base.astro'

const collection = await getCollection('blog')
const blog = collection
  .filter((p) => p.data.published !== false)
  .sort((a, b) =>
    new Date(a.data.subtitle).getTime() - new Date(b.data.subtitle).getTime() >
    0
      ? -1
      : 1
  )
---

<Base>
  <Title title="Blog" />

  <article>
    Rants and Ramblings. Random thoughts on Web Development, Photography,
    Design, and Life
  </article>

  <section class="link__grid">
    {
      blog.map((page) => (
        <LinkBlock
          link={`${page.collection}/${page.slug.replace('ipynbout', '')}`}
          item={page.data}
          cta="Read post"
        />
      ))
    }
  </section>
</Base>
