---
import Title from '../components/Title.astro'
import projects from '../../_11ty/data/projects.json'
import LinkBlock from '../components/LinkBlock.astro'
import Base from '../layouts/Base.astro'
---

<Base>
  <Title title="Projects" />

  <p>Some projects I'm currently working on</p>

  <section class="link__grid">
    {projects.map((project) => <LinkBlock item={project} />)}
  </section>
</Base>
