---
import { getCollection } from 'astro:content'
import Title from '../components/Title.astro'
import Base from '../layouts/Base.astro'
import _ from 'lodash'

const { upperFirst, groupBy } = _

const docs = await getCollection('docs')

const getDirectoryName = (dir) => {
  const split = dir.split('/')
  const directory = split[0]
  return directory
    .split('-')
    .map((d) => upperFirst(d))
    .join(' ')
}

const groupedDocs = Object.entries(
  groupBy(
    docs.filter((p) => p.data.title),
    (p) => getDirectoryName(p.slug)
  )
)
---

<Base>
  <Title title="Docs" />

  <p>These are my personal notes on software development and similar topics</p>

  <section>
    {
      groupedDocs.map(([directory, pages]) => (
        <div>
          <h2>{directory}</h2>

          <ul>
            {pages.map((page) => (
              <li>
                <a href={`${page.collection}/${page.slug.replace('ipynbout', '')}`}>
                  {page.data.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </section>
</Base>
