---
import { getCollection } from 'astro:content'
import Title from '../components/Title.astro'
import Base from '../layouts/Base.astro'
import _ from 'lodash'
import Page from '../layouts/Page.astro'

const { upperFirst, groupBy } = _

const docsCollections = await Promise.all([
  getCollection('docs-md'),
  getCollection('docs-ipynb'),
])

const collection = docsCollections.flat()
const getDirectoryName = (dir) => {
  const split = dir.split('/')
  const directory = split[0]
  return directory
    .split('-')
    .map((d) => upperFirst(d))
    .join(' ')
}

const groupedDocs = Object.entries(
  groupBy(
    collection.filter((p) => p.data.title),
    (p) => getDirectoryName(p.id)
  )
)
---

<Base>
  <Page>
    <Title title="Docs" />
    <p>
      These are my personal notes on software development and similar topics
    </p>

    {
      groupedDocs.map(([directory, pages]) => (
        <div>
          <h2>{directory}</h2>

          <ul>
            {pages.map((page) => (
              <li>
                <a class="link" href={`/docs/${page.id.split('.')[0]}`}>{page.data.title}</a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </Page>
</Base>
