---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
import Base from '../layouts/Base.astro'
import Page from '../layouts/Page.astro'

import getMeta from '../data/meta'
import allProjects from '../data/projects.json'
import LinkBlock from '../components/LinkBlock.astro'
import { getCollection } from 'astro:content'

const blogCollections = await Promise.all([
  getCollection('blog-md'),
  getCollection('blog-ipynb'),
])

const collection = blogCollections.flat()
const blog = collection
  .filter((p) => p.data.published !== false)
  .sort((a, b) =>
    new Date(a.data.subtitle).getTime() - new Date(b.data.subtitle).getTime() >
    0
      ? -1
      : 1
  )

const meta = getMeta()

const recentPost = blog[0]
const posts = blog.slice(1, 4)

const projects = allProjects.slice(0, 4)
const docsItem = {
  title: 'Docs',
  subtitle: meta.buildDate,
  description: 'My personal notes on software development and related topics',
  cta: 'Go to docs',
  url: '/docs',
}

const recentPostItem = {
  ...recentPost.data,
  url: `/blog/${recentPost.id.split('.')[0]}`,
}
---

<Base>
  <Page>
    <section slot="feature" class="link__grid">
      <a href={recentPostItem.url} class="link__link">
        <div>
          <h2 class="link__title link">{recentPostItem.title}</h2>
          <p class="link__subtitle">{recentPostItem.subtitle}</p>
          <p class="link__description">{recentPostItem.description}</p>
        </div>
      </a>
      <img
        class="link__image--horizontal"
        src="/images/home/code.jpg"
        alt="the sky with some clouds"
      />
    </section>
  </Page>
</Base>

<style></style>
