---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
import Base from '../layouts/Base.astro'
import Page from '../layouts/Page.astro'
import LinkBlock from '../components/LinkBlock.astro'

import getMeta from '../data/meta'
import allProjects from '../data/projects.json'
import LinkBlock from '../components/LinkBlock.astro'
import Feature from '../components/Feature.astro'
import { getCollection } from 'astro:content'
import LinkGrid from '../components/LinkGrid.astro'

const blogCollections = await Promise.all([
  getCollection('blog-md'),
  getCollection('blog-ipynb'),
])

const collection = blogCollections.flat()
const blog = collection
  .filter((p) => p.data.published !== false)
  .sort((a, b) =>
    new Date(a.data.subtitle).getTime() - new Date(b.data.subtitle).getTime() >
    0
      ? -1
      : 1
  )

const meta = getMeta()

const recentPost = blog[0]
const posts = blog.slice(1, 6)

const projects = allProjects.slice(0, 10)
const docsItem = {
  title: 'Docs',
  subtitle: meta.buildDate,
  description: 'My personal notes on software development and related topics',
  cta: 'Go to docs',
  url: '/docs',
}

const recentPostItem = {
  ...recentPost.data,
  title: recentPost.data.title || 'Title Not Provided',
  link: `/blog/${recentPost.id.split('.')[0]}`,
}
---

<Base>
  <Page blogs={[1, 6]}>
    <Feature {...recentPostItem} />
  </Page>
  <!-- 
  <h3>Projects</h3>

  <LinkGrid>
    {projects.map((project) => <LinkBlock {...project} />)}
  </LinkGrid> -->
</Base>
