---
import getPages from '../../_11ty/data/pages'
import LinkBlock from '../components/LinkBlock.astro'
import Base from '../layouts/Base.astro'

const { allPages } = await getPages()
const pages = allPages.filter((page) => page.route.startsWith('/random'))
---

<Base>
  <article>Random bits from life</article>

  <section class="link__grid">
    {pages.map((page) => <LinkBlock item={page} />)}
  </section>
</Base>
