---
import Title from '../components/Title.astro'
import tools from '../data/tools.json'
import languages from '../data/languages.json'
import LinkBlock from '../components/LinkBlock.astro'
import Base from '../layouts/Base.astro'
import ImageSectionBlock from '../components/ImageSectionBlock.astro'
import LinkGrid from '../components/LinkGrid.astro'
---

<Base>
  <Title title="Uses" />

  <section>
    <h2>Tools</h2>  
    <LinkGrid>
      {uses.map((u) => <LinkBlock {...u} />)}
    <LinkGrid />
  </section>

  <section>
    <h2>Languages</h2>  
    <LinkGrid>
      {languages.map((l) => <LinkBlock {...l} />)}
    <LinkGrid />
  </section>
</Base>
