/* resets/normalizations */
html,
body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  scroll-behavior: smooth;
  font-family: Lato;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 400;
}

* {
  font-size: 1em;
}

body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

pre {
  font-family: Lato;
  font-size: 1.1em;
}

summary {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

/* base styles */

:root {
  --color-bg: #ffffff;
  --color-fg: #2d2d2d;
  --color-code-bg: #f3f3f3;
  --color-brand: #684693;
  --space-gutter: 24px;
  --space-padding-codeblock: 1em;
  --space-padding-main: 36px;
  --size-page-width: 1000px;
  --width-scrollbar: 5px;
}

body {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

a:hover,
summary:hover {
  color: var(--color-brand);
}

pre {
  padding: var(--space-padding-codeblock);
  background-color: var(--color-code-bg);
}

h1 {
  font-weight: 400;
  font-size: 1.2em;
}

h2 {
  font-weight: 400;
  font-size: 1.1em;
}

h3 {
  font-size: 1em;
  text-decoration-color: var(--color-brand);
}

/* page styles */

.page {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 24px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.nav__title {
  font-weight: 400;
  font-size: 1.5em;
}

.nav__item {
  display: block;
  list-style: none;
  padding: 4px 8px;
  white-space: nowrap;
}

.post__card {
  padding: 24px;
  background-color: var(--color-code-bg);
  border-radius: 4px;
  height: 100%;
}

.post__link {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.post__link:hover {
  transform: scale(1.01);
}

.post__grid {
  display: grid;
  margin-top: 48px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 12px 12px;
}

.post__title {
  margin: 0;
}

.post__subtitle {
  margin: 0;
  margin-top: 12px;
}

.post__description {
  margin: 0;
  margin-top: 24px;
}

@media (min-width: 1000px) {
  .post__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* markdown styles */
.page {
  overflow-x: hidden;
  overflow-wrap: break-word;
}

img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

code,
.nb-text-output,
.nb-stdout {
  font-weight: 100;
  overflow-wrap: break-word;
  /* white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word; */
}

.scrollable {
  overflow-x: auto;
}

table {
  margin: 0px 15px 15px 0px;
  border-spacing: 10px 5px;
  border-collapse: collapse;
  width: 100%;
  --table-padding: 3px;
}

thead,
tbody {
  border-bottom: solid 1px var(--color-primary-l);
}

th {
  text-align: left;
  padding: var(--table-padding);
}

tr:nth-child(even) {
  background-color: var(--color-primary-l);
}

td {
  vertical-align: top;
  padding: var(--table-padding);
  min-width: 50px;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: var(--text-spacing);
  border-left: 2px solid var(--color-primary);
}

/* jupyter styling */

.nb-output {
  overflow-x: auto;
  margin: 0;
}

.nb-image-output {
  background-color: white;
  width: 100%;
  max-width: 500px;
}

@media (prefers-color-scheme: dark) {
  .nb-image-output {
    filter: invert(0.825);
  }
}

.nb-markdown-cell:first-of-type h1 {
  display: none;
}

.katex-display {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.hljs {
  padding: 0;
  background: transparent;
}

blockquote {
  border-left: 2px solid var(--color-brand);
  background-color: var(--color-code-bg);
}

blockquote p {
  padding: 12px 24px;
}
