@font-face {
  font-family: main;
  src: url(../fonts/TTF/atkinson-hyperlegible-regular-102.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  scroll-behavior: smooth;
  font-family: main;
}

body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

pre {
  font-family: monospace;
  font-size: 1.1em;
}
