<footer class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="https://www.linkedin.com/in/nabeelvalley/">Linkedin</a>
    </li>
    <li class="nav__item">
      <a href="https://github.com/nabeelvalley">Github</a>
    </li>
    <li class="nav__item">
      <a href="https://twitter.com/not_nabeel">Twitter</a>
    </li>
    <li class="nav__item"><a href="/feed/rss.xml">RSS</a></li>
  </ul>
</footer>
