---
import SocialNav from './SocialNav.astro'
---

<footer >
  <nav>
    <SocialNav rss />

    <section aria-labelledby="webring-label" class="webring">
      <a href="https://webring.nabeelvalley.co.za"><em><span id="webring-label">Webring</span></em></a>

      <ul class="links" data-astro-cid-sz7xmlte=""> 
          <li><a href="https://webring.nabeelvalley.co.za/previous">Previous</a></li>
          <li><a href="https://webring.nabeelvalley.co.za/random">Random</a></li>
          <li><a href="https://webring.nabeelvalley.co.za/next">Next</a></li>
      </ul>
    </section>
  </nav>
</footer>

<style>
  footer {
    margin-top: 16px;
    padding: 4px;
    border-bottom: var(--separator-border);
    border-top: var(--separator-border);
    font-size: smaller;

    nav {
      padding: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      a {
        transition: color 200ms;
        &:hover, &:focus {
          color: var(--color-brand);
        }
      }

      .webring {
        display: inline;

        & * {
          margin: 0;
        }
        
        .links {
          list-style: none;
          display: inline-flex;
          gap: 4px;
          padding: 0;
        }
      }
    }
  }
</style>
