---
import imageSize from 'image-size'
import { glob } from 'glob'

const { path } = Astro.props

const base = `public/photography/${path}`
const paths = await glob(`./${base}/**/*`, {
  nodir: true,
  posix: true,
})

const images = paths.map((src) => {
  const parts = src.split('/')
  const alt = parts[parts.length - 1].split('.')[0]

  console.log(src)
  // `.` needed to ensure path is relative since glob retuns it as `/public/...`
  const size = imageSize(src)

  return {
    ...size,
    src: src.replace('public', ''),
    alt,
  }
})
---

<div class="gallery__grid">
  {
    images
      .reverse()
      .map((image) => (
        <image
          {...image}
          class={
            image.height > image.width
              ? 'gallery__image gallery__image--vertical'
              : 'gallery__image gallery__image--horizontal'
          }
        />
      ))
  }
</div>
