---
import { Search } from './Search'
---

<nav class="nav">
  <div class="nav__title"><a href="/">Nabeel Valley</a></div>
  <div class="nav__subtitle">Engineer, Developer, Photographer</div>
  <ul class="nav__list">
    <li class="nav__item"><a href="/">Home</a></li>
    <li class="nav__item"><a href="/blog">Blog</a></li>
    <li class="nav__item"><a href="/docs">Docs</a></li>
    <li class="nav__item"><a href="/code">Code</a></li>
    <li class="nav__item"><a href="/photography">Photography</a></li>
    <li class="nav__item"><a href="/about">Me</a></li>
    <li class="nav__item"><Search client:only /></li>
  </ul>
</nav>
