---
import { Suspense } from 'react'
import { Search } from './Search'
---

<nav class="nav">
  <div class="nav__title-section">
    <div class="nav__title">
      <a href="/">
        Nabeel
        <span class="nav__monogram">N</span>
        Valley</a
      >
    </div>
    <div class="nav__subtitle">Engineer • Developer • Photographer</div>
  </div>
  <ul class="nav__list">
    <li class="nav__item"><a class="link" href="/blog">Blog</a></li>
    <li class="nav__item"><a class="link" href="/docs">Docs</a></li>
    <li class="nav__item"><a class="link" href="/projects">Projects</a></li>
    <li class="nav__item">
      <a class="link" href="/talks">Talks</a>
    </li>
    <li class="nav__item">
      <a class="link" href="/photography">Photography</a>
    </li>
    <li class="nav__item"><a class="link" href="https://nabeelvalley.substack.com">Newsletter</a></li>
    <li class="nav__item"><a class="link" href="/archive">Archive</a></li>
    <li class="nav__item"><a class="link" href="/about">Me</a></li>
    <!-- <li class="nav__item">
      <Search client:only="react" />
    </li> -->
  </ul>

  <style>
    .nav {
      padding-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;

      backdrop-filter: blur(5px);
      box-shadow: inset 0px 0px 500px 0px var(--color-base);

      position: sticky;
      top: -124px;
      z-index: 10;
    }

    .nav__title-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    .nav__title {
      font-family: var(--font-display);
      font-size: 48px;
    }

    .nav__subtitle {
      font-size: smaller;
    }

    .nav__list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      margin: 0;
      margin-top: 16px;
      padding: 8px 0;

      width: 100%;

      border-top: var(--separator-border);
      border-bottom: var(--separator-border);
    }

    .nav__item {
      display: block;
      padding: 0px 4px;
      font-size: smaller;
    }

    .nav__placeholder {
      height: 88px;
    }

    .nav__monogram {
      user-select: none;
      font-family: var(--font-monogram);
    }

    @media (max-width: 720px) {
      .nav__title {
        font-size: 32px;
      }

      .nav {
        top: -100px;
      }
    }
  </style>
</nav>
