---
const { item, cta = 'Read more' } = Astro.props
---

<a href={item.url || item.link} class="link__link">
  <div class="link__card">
    <h2 class="link__title">{item.title}</h2>
    <p class="link__subtitle">{item.description}</p>
    <ul class="link__tags">
      {item.tags?.map((tag) => <li class="link__tag">{tag}</li>)}
    </ul>
    <div class="link__cta-wrapper">
      <p class="link__cta">{item.cta || cta}</p>
    </div>
  </div>
</a>
