---
import SimpleLinkBlock from './SimpleLinkBlock.astro'
---

<div class="link__grid">
  <SimpleLinkBlock
    text="South Africa"
    link="/photography/places/south-africa"
  />

  <SimpleLinkBlock text="Netherlands" link="/photography/places/netherlands" />
  
  <SimpleLinkBlock text="Brussels, Belgium, June 2024" link="places/2024-06-brussels" />

  <SimpleLinkBlock
    text="Durban, September 2022"
    link="/photography/places/2022-09-durban"
  />

  <SimpleLinkBlock
    text="Cape Town, February 2022"
    link="/photography/places/2022-02-cape-town"
  />
  <SimpleLinkBlock
    text="Garden Route, December 2018"
    link="/photography/places/2018-12-garden-route"
  />
</div>
