---
import SimpleLinkBlock from './SimpleLinkBlock.astro'
---

<div class="link__grid">
  <SimpleLinkBlock text="Black and White" link="/photography/portraits/bw" />
  <SimpleLinkBlock text="Colour" link="/photography/portraits/colour" />
</div>
