---
import Snippet, { type Props as SnippetProps } from './Snippet.astro'
import Shader from './Shader.astro'

interface Props extends Omit<SnippetProps, 'base' | 'lang' | 'path'> {
  /**
   * Path from the `src/snippets/shaders` directory (probably just the file name)
   */
  path: string
}

const { path, ...rest } = Astro.props
---

<div class="shader-snippet">
  <div class="snippet">
    <Snippet {...rest} base="./src/snippets/shaders" path={path} lang="glsl" />
  </div>

  <div class="shader">
    <div class="sticky">
      <Shader fragmentPath={path} />
    </div>
  </div>
</div>

<style>
  .shader-snippet {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;

    .snippet,
    .shader {
      grid-column: auto / span 1;
    }

    .shader {
      height: 100%;
      position: relative;
    }

    .sticky {
      position: sticky;
      top: 3rem;
    }

    @media (min-width: 800px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));

      .snippet {
        grid-column: auto / span 2;
      }
    }
  }
</style>
