---
const { rss } = Astro.props
---

<ul class="nav__list no-print">
  <li class="nav__item">
    <a href="https://www.linkedin.com/in/nabeelvalley/">Linkedin</a>
  </li>
  <li class="nav__item">
    <a href="https://github.com/nabeelvalley">GitHub</a>
  </li>
  <li class="nav__item">
    <a href="https://twitter.com/not_nabeel">Twitter</a>
  </li>
  <li class="nav__item">
    <a href="https://instagram.com/nabeelvalley">Instagram</a>
  </li>
</ul>

<div class="print">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="https://nabeelvalley.co.za">nabeelvalley.co.za</a>
    </li>
    <li class="nav__item">
      <img class="nav__icon" src="/icons/linkedin.svg" />
      <a href="https://www.linkedin.com/in/nabeelvalley/">@nabeelvalley</a>
    </li>
    <li class="nav__item">
      <img class="nav__icon" src="/icons/github.svg" />
      <a href="https://github.com/nabeelvalley">@nabeelvalley</a>
    </li>
    <li class="nav__item">
      <img class="nav__icon" src="/icons/twitter.svg" />
      <a href="https://twitter.com/not_nabeel">@not_nabeel</a>
    </li>
    <li class="nav__item">
      <img class="nav__icon" src="/icons/instagram.svg" />
      <a href="https://instagram.com/nabeelvalley">@nabeelvalley</a>
    </li>
  </ul>
</div>
