<ul class="nav__list">
  <li class="nav__item">
    <a href="https://www.linkedin.com/in/nabeelvalley/" rel="me">Linkedin</a>
  </li>
  <li class="nav__item">
    <a href="https://github.com/nabeelvalley" rel="me">GitHub</a>
  </li>
  <li class="nav__item">
    <a href="/feed/rss.xml">RSS</a>
  </li>
</ul>

<style>
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    margin-top: 16px;
    padding: 4px 0px;

    width: 100%;

    border-bottom: var(--separator-border);
    border-top: var(--separator-border);
  }

  .nav__item {
    display: block;
    padding: 0px 4px;
    font-size: smaller;
  }

  .nav__placeholder {
    height: 88px;
  }

  .nav__monogram {
    user-select: none;
    font-family: var(--font-monogram);
  }

  @media (max-width: 720px) {
    .nav__title {
      font-size: 32px;
    }
  }
</style>
