<h1>Nabeel Valley</h1>

<div class="about">
    

<div>

    <ul class="overview">
        <li>From Pretoria</li>
        <li>Currently in NL</li>
        <li>Full Stack Developer</li>
        <li>@ Entelect since July 2023</li>
        <li>On the Digital Platform team at Rabobank</li>
        <li>Like making things</li>
    </ul>

 <ul class="social-links">
    <li class="social-link">
        <img src="/icons/globe.svg" alt="Web">
        <div>
            nabeelvalley.co.za
        </div>
    </li>
    <li class="social-link">
        <img src="/icons/linkedin.svg" alt="LinkedIn">
        <div>
            linkedin.com/in/nabeelvalley
        </div>
    </li>
 </ul>


</div>

        <img  class="profile" src="/content/profile.jpg" alt="Nabeel Valley" />

</div>

<style>
    .about {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .social-links {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .profile {
        aspect-ratio: 1;
    }

    .social-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        img {
            all: unset;
            display: block;
            height: 1.5rem;
        }
    }
</style>
