---
export interface Props {
  centered?: boolean
  highlight?: boolean
}

const { centered, highlight } = Astro.props
---

<section class="presentation-slide" class:list={{ centered, highlight }}>
  <slot />
</section>
