---
import Timeline from "@/components/Timeline.astro";
import Title from "@/components/Title.astro";
import Base from "@/layouts/Base.astro";
---

<Base>
  <Title title="Everything" />

  <article>
    Blog posts, docs, and talks
  </article>
  <div class="grid">
      <Timeline />
      </div>
</Base>

