---
import { getCollection } from 'astro:content'
import LinkBlock from '../components/LinkBlock.astro'
import Base from '../layouts/Base.astro'

const random = await getCollection('random')
---

<Base>
  <article>Random Bits of Information</article>

  <section class="link__grid">
    {
      random.map((page) => (
        <LinkBlock link={`${page.collection}/${page.slug}`} item={page.data} />
      ))
    }
  </section>
</Base>
