---
import Title from '../components/Title.astro'
import tools from '../data/tools.json'
import languages from '../data/languages.json'
import LinkBlock from '../components/LinkBlock.astro'
import Base from '../layouts/Base.astro'
import ImageSectionBlock from '../components/ImageSectionBlock.astro'
import LinkGrid from '../components/LinkGrid.astro'
---

<Base>
  <Title title="Uses" />

  <section>
    <h2>Tools</h2>

    <p>
      I follow the Unix philosophy in that I lean towards smaller tools that do individual tasks well. In addition to the <a href="/projects">list of things I've built</a> 
      here is a (incomplete) list of software that I use almost daily
    </p>

    <LinkGrid>
      {tools.map((t) => <LinkBlock {...t} />)}
    <LinkGrid />
  </section>

  <section>
    <h2>Programming Languages</h2>  

    <p>
      I enjoy how different languages enable me to express and explore different ideas. As such I'm a huge fan of programming languages and use loads of them. 
      Of that endless list - some of them have stuck and I've noted them below for my own sake
    </p>

    <LinkGrid>
      {languages.map((l) => <LinkBlock {...l} />)}
    <LinkGrid />
  </section>
</Base>
