---
import Title from '../components/Title.astro'
import Base from './Base.astro'
---

<Base>
  <Title title="Photography" />

  <article>
    <section class="link__grid">
      <a href="/photography/gallery" class="link__link">
        <div class="link__card">
          <h2 class="link__title">Gallery</h2>

          <div class="link__cta-wrapper">
            <p class="link__cta">Open Gallery</p>
          </div>
        </div>
      </a>
      <a href="https://instagram.com/nabeelvalley" class="link__link">
        <div class="link__card">
          <h2 class="link__title">Instagram</h2>

          <div class="link__cta-wrapper">
            <p class="link__cta">View Profile</p>
          </div>
        </div>
      </a>
    </section>

    <Title title="Writing" />
    <slot />
  </article>
</Base>
